* text=auto !eol
/actions.php -text
css/admin.css -text
css/index.php -text
img/icon-128x128.png -text
img/index.php -text
/index.php -text
js/admin.js -text
js/index.php -text
/mw-polylang-theme-strings.php -text
/readme.txt -text
templates/admin-page-settings.php -text
templates/index.php -text
